.fix_layout {
    width: 200px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: #fff;
    box-shadow: 1px 0px 10px rgba(200, 200, 200, 0.4);
    box-sizing: border-box;

    .logo {
        width: 200px;
        height: 65px;
        box-sizing: border-box;
        border-bottom: 1px solid #5a95dd;
    }

    .today_zone {
        width: 100%;
        box-sizing: border-box;
        margin: 15px 0px;
        padding: 0px 10px;

        p.name {
            width: 100%;
            height: 20px;
            font-size: 15px;
            text-align: right;
            margin-bottom: 13px;

            span {
                width: 60px;
                height: 20px;
                border: 1px solid #5a95dd;
                color: #5a95dd;
                font-size: 12px;
                float: left;
                text-align: center;
                border-radius: 100px;
                line-height: 20px
            }

            &::after {
                content: "님";
            }
        }

        .list {
            width: 100%;
            height: 20px;
            margin-bottom: 8px;
            line-height: 20px;

            span {
                float: left;
                font-size: 14px;
                color: #8c8c8c;

                img {
                    width: 18px;
                    height: 18px;
                    border-radius: 3px;
                    border: 1px solid #eaeaea;
                    display: block;
                    float: left;
                    margin-right: 5px;
                }
            }

            p {
                float: right;
                text-align: right;
                color: #333333;
                font-size: 13px;
                font-weight: 500;

                &::after {
                    content: attr(data-val);
                }
            }
        }
    }

    .menu {
        width: 100%;
        box-sizing: border-box;

        .first_depth {
            width: 100%;
            box-sizing: border-box;
            float: left;
            cursor: pointer;

            .sub_menu {
                width: 100%;
                box-sizing: border-box;
                // display: none;

                height: 0;
                overflow: hidden;
                transition: all 200ms ease-out;

                li {
                    a {
                        width: 100%;
                        font-size: 14px;
                        color: #333333;
                        padding: 0px 10px;
                        height: 5px;
                        line-height: 25px;
                    }
                }

                &.active {
                    display: block;
                    background: #fff;

                    height: 2rem;
                    margin-bottom: 15px;
                }
            }

            div {
                width: 100%;
                display: block;
                height: 30px;
                padding: 0px 10px;
                box-sizing: border-box;

                .title {
                    font-size: 14px;
                    line-height: 30px;
                    color: #555;
                    float: left;
                }

                .icon {
                    display: block;
                    float: left;
                    margin-right: 10px;
                    margin-top: 7px;
                }

                .arrow {
                    display: block;
                    float: right;
                    width: 30px;
                    height: 30px;
                }
            }

            &.active {
                background: #ecf2fe;
                border-left: 2px solid #5a95dd;
            }
        }
    }
}